<html>

<head>
    <title>Create a new project</title>
    <script type="module">
        import { store } from "/components/projects/projects-store.js";
    </script>
</head>

<body>
    <div x-data>
        <template x-if="$store.projects && $store.projects.selectedProject">
            <div>
                <!-- <div class="project-detail-header">
                        <div class="projects-project-card-title">Project details</div>
                        <div class="project-path" x-text="$store.projects.selectedProject.path"></div>
                    </div> -->

                <div class="projects-form-group">
                    <label class="projects-form-label">非敏感变量</label>
                    <span class="projects-form-description">以 .env 格式存储非敏感变量，例如
                        EMAIL_IMAP_SERVER="imap.gmail.com"，每行一个项目。您可以使用以 # 开头的注释为代理添加描述。查看 <a
                            href="javascript:openModal('settings/secrets/example-vars.html')">示例</a>。
                        <br>
                        这些变量对 LLM 和聊天历史可见，不会被遮罩。</span>
                    <textarea class="projects-form-textarea" x-model="$store.projects.selectedProject.variables"
                        rows="10" placeholder="输入项目变量"></textarea>
                </div>

                <div class="projects-form-group">
                    <label class="projects-form-label">敏感变量</label>
                    <span class="projects-form-description">
                        以 .env 格式存储密钥和凭据，例如 EMAIL_PASSWORD="s3cret-p4$$w0rd"，每行一个项目。您可以使用以 # 开头的注释为代理添加描述。查看 <a
                            href="javascript:openModal('settings/secrets/example-secrets.html')">示例</a>。<br>这些
                        变量对 LLM 和聊天历史不可见，会被遮罩。⚠️ 只有长度 &gt;= 4 的值才会被遮罩以防止误报。
                    </span>
                    <textarea class="projects-form-textarea"
                        x-model="$store.projects.selectedProject.secrets" rows="10"
                        placeholder="输入项目密钥"></textarea>
                </div>
            </div>


        </template>
    </div>
</body>
<style>
</style>

</html>